#iridium-entry-box {
  background-color: white;
}

#iridium-title-entry {
  border: none;
  font-family: 'JetBrains Mono', 'Fira Mono', monospace;
  font-weight: bold;
}

#iridium-tag-entry {
  border: none;
  font-family: 'JetBrains Mono', 'Fira Mono', monospace;
}

#iridium-text-view {
  background-color: transparent;
  font-family: 'JetBrains Mono', 'Fira Mono', monospace;
}

#iridium-note-row {
  border-bottom: 1px solid #ddd; /* non-theme-dependent? */
}

#iridium-note-row-label {
  font-weight: 600;
}
