#iridium-entry-box {
  background-color: white;
}

#iridium-title-entry {
  border: none;
  font-family: 'Fira Mono', monospace;
  font-weight: bold;
}

#iridium-text-view {
  background-color: transparent;
  font-family: 'Fira Mono', monospace;
}
